/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 oct. 2015, 17:54:54
    Author     : Emilie
*/

body { 
   padding-top: 80px;
}

/*.cadreCV { 
    background: white;
}

.jumbotron {
    background-color: white;
}*/

/****************************************
*              Entête du CV
****************************************/

header .container-fluid{
    background-color:#335561;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

header .container-fluid img {
    padding-left: 20px;
    padding-right: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: white;
    border-width: 1px;
}


/*#cv-photo { 
    width: 172px;
    height: 172px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #eee;
    display: inline-block;
}

#cv-photo img { 
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

#cv-intro h1 { 
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: -1px;
    font-family: "Roboto", sans-serif;
}

#cv-intro h1 span { 
    color: #698996;
}

#cv-intro:after {
    background: url('images/ligne.png'); /* Dossier "images" est un
sous-dossier de "css" (à créer) 
    width: 100%;
    height: 3px;
    margin-top: 15px;
    content: '';
    display: block;
}*/

@media (max-width: 768px) {
    header .container-fluid {
        text-align: center;
    }
}
/************************************
*           RUBRIQUES
*************************************/

.rubrique { 
    margin-bottom: 15px;
}

.rubrique h2 { 
    color: #335561;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.rubrique h2:before{ 
    margin-right: 5px;
}

.rubrique .experience {
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    padding: 20px;
}

@media (max-width: 768px) {
    .rubrique .experience {
        margin: 30px;
    }
}

/*.rubrique p{ 
    font-size: 1.3em;
    line-height: 1.5em;
}*/

/******************************************
* Parcours scolaire
******************************************/

#parcours{ 
    margin-top: 20px; 
    position: relative; 
    padding: 1em 0;
    list-style: none;
}

#parcours:before { 
    width: 2px;
    height: 100%;
    position: absolute;
    left: 7.8px;
    top: 0;
    display: block;
    background: linear-gradient(to bottom, #ffffff 0%, #698996 7%, #698996, #ffffff 100%);
}

#parcours li{ 
    width: 100%; 
    z-index: 2; 
    position: relative; 
    float: left;
}

#parcours .date .glyphicon-record:before { 
    background: #FFFFFF; 
    color: #555; 
}

#parcours .date{ 
    width: 75px; 
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2em; 
    display: inline-block;
}

#parcours .details{ 
    width: 325px; 
    display: inline-block; 
    background: #eee;
    position: relative; 
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ddd; 
    margin: -8px 0 20px 0; 
}

#parcours .details:after { 
    content: ''; 
    position: absolute; 
    top: 15px;
    right: 0; 
    left: -16px; 
    height: 0; 
    width: 0;
    border: solid transparent; 
    border-right-color: #eee;
    border-width: 8px; 
    pointer-events: none; 
}

#parcours .details h3{
    margin: 0; 
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight:600;
}

#parcours .details p{ 
    margin-top: 5px; 
    padding: 0; 
}

/* Pour empêcher la déformation du parcours scolaire selon la STA */

@media (min-width: 500px) { 
    #parcours .date { 
        width: 20%;
    }
    #parcours .details { 
        width: 80%;
    } 
}
@media (min-width: 768px) { 
    #parcours .date {
        width: 20%;
    }
    #parcours .details { 
        width: 80%; }
}
@media (min-width: 992px) {
    #parcours .date {
        width: 15%;
    }
    #parcours .details { 
        width: 84%;
    } 
}
@media (min-width: 1200px) { 
    #parcours .date { 
        width: 13%;
    }
    #parcours .details { 
        width: 87%; 
    } 
}
@media (max-width: 500px) {
    #parcours .date {
        width: 25%;
        font-size: 1em;
    }
    #parcours .details {
        width: 75%;
    }
    #parcours .details h3 {
        font-size: 1.2em;
    }
}


/***********************************
           COMPETENCES
************************************/

.competences {
    text-align:center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}

.cercle {
    float: none !important; 
    margin:auto !important; 
}

.competence {
    padding: 20px;
}

@media (max-width:500px) {
    .competence p {
        font-size: 0.8em;
    }
}


/***********************************
            PASSIONS
************************************/

.passion {
    background-position: center;
    margin: auto;
    max-height: 50px;
    max-width: 400px;
    text-align: right;
    padding:10px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 1.7em;
}

.jeux {
    background-image: url("../images/jeux.jpg");
}

.cinema {
    background-image: url("../images/cinema.jpg");
}

.lecture {
    background-image: url("../images/livres.jpg");
}

.graphisme {
    background-image: url("../images/graphisme.jpg");
}

.passion {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.passion:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
        -webkit-filter: contrast(130%); 
}


/******************************************
               LANGUES
*******************************************/

.progress {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.langue {
    max-width: 400px;
    margin: auto;
}

/**********************************************
                CONTACT
**********************************************/

.contact {
    margin-top: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
}

.contact span {
    font-weight: bold;
    color: #6F9283;
    font-size: 1.1em;
    text-transform: uppercase;
}

.contact a {
    top: 20px;
    padding: 10px;
    background-color: #CE574D;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition:350ms ease all;
}

.contact .bouton {
    margin-top: 20px;
}

.contact a:hover {
    background-color: #FC6B5F;
    transition:350ms ease all;
}

.contact div {
    margin-bottom: 7px;
}

/******************************************
* Expériences professionnelles
******************************************/
.experience { 
    margin-bottom: 15px; 
}
.experience .datelieu {
    font-size: 1.3em;
    text-align: center;
    padding:4px;
}
.experience .profession {
    padding: 4px;
    font-size: 1.3em;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align:center;
    font-weight: bold;
    color: #6F9283;
}
.experience .details {
    line-height: 1.5em;
}
@media (max-width:500px) {
    .experience .profession {
        font-size: 1.2em;
    }
}


